 <mat-grid-list  cols = "1" rowHeight="500px">
  <mat-grid-tile>
    <mat-card class="card">

<div class="example-container">
 
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
   <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="option">IT Department</mat-option>
      <mat-option value="option">HR Department</mat-option>
      <mat-option value="option">Accounting Department</mat-option>
      <mat-option value="option">Sales and Markerting Department</mat-option>
      <mat-option value="option">General Worker Department</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Age</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

</div>
  <mat-card-actions>
   <label class="image-upload-container btn btn-bwm">
<span>Select Image: </span>
<input type="file" #imageInput accept="image/*" (change)="processFile(imageInput)">
</label> 
    <button mat-raised-button color="accent">Add</button>
      
  </mat-card-actions>
</mat-card>
  </mat-grid-tile>
</mat-grid-list>


